<div class="au-c-form">
  <ul>
    <li>
      <AuControlRadio @label="left" @name="ja-nee" @value="left" @identifier="ja" />
    </li>
    <li>
      <AuControlRadio @label="right" @name="ja-nee" @value="right" @identifier="nee" />
    </li>
  </ul>
</div>