<AuMainHeader @brandLink="https://www.vlaanderen.be/nl" @homeRoute="index" @appTitle="Data Vlaanderen" >
</AuMainHeader>
<div class="au-o-layout">
{{!-- <div class="au-c-form search">
<p>
  <AuLabel for="input-block">Ontdek wat onze vertegenwoordigers voor ons beslissen.</AuLabel>
  <AuInput id="input-block" @width="block" placeholder="Gemeente" title="kie gemeente" @icon="search"/>
</p>
</div> --}}
{{yield}} 
</div>
<div class="main_nav">
<ul class="au-o-region">
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="besturen" @model="">
      | Samenstelling<br>
        College van Burgemeester en Schepenen<br>
        Gemeenteraad
    </AuNavigationLink>
  </li>
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="agenda">
      | Agenda
    </AuNavigationLink>
  </li>
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="besluiten">
      | Besluiten
    </AuNavigationLink>
  </li>
  <li class="au-c-navigation__item">
    <AuNavigationLink @linkRoute="archieven">
      | Archief besluiten
    </AuNavigationLink>
  </li>
</ul>
</div>